<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>图书详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://apitk.huatu.com/h5/css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--<div class="headerBt"><a href="javascript:history.go(-1);" class="navBack" title="回上一页">&lt;</a>课程详情</div>-->
<!--<div class="courseInfo">-->
<!--<div class="imgBox"><img src="http://upload.htexam.net/classimg/class/1476434731.jpg" alt="课程名" /></div>-->
<!--<div class="m1em">-->
<!--<h1>【新版】公考必备社会热点及解读--只含纸质图书不含视频</h1>-->
<!--<div class="price"><strong>&yen;31</strong><del>&yen;39</del></div>-->
<!--
<a class="btnSty01"  href="./reg/login.php?rid=54462">
立即购买
</a>-->
<!--</div>-->
<!--</div>-->

<div class="courseDetail">
    <!--
    班次类型：　通用课程<br />课程状态：　已经上线<br />课　　时：　0课时
    <br />有效期限：　365天<br />教　　师：　<br />购买此课程赠送<span class="htred">3积分</span>！
      -->
    <dl class="courseInfoList">
        <!--<dt><span>课程内容</span></dt>-->
        <!--<dd><span class="htred">本期班次已报满，同学们可以参加国考面试专岗专训7天高分通关班 http://v.huatu.com/cla/class_detail_45428.htm</span>-->
        <!--<p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p><p><span
            style="color: rgb(255, 0, 0);"><span style="font-size: 16px;"><span
            style="font-family: arial,helvetica,sans-serif;">新版助阵强势介绍&nbsp;</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-size: 14px;"><span
                style="font-family: arial,helvetica,sans-serif;">《公考必备社会热点及解读》针对公务员考试特点，用最新热点事件剖析、重大文件解析、常见表述素材积累等内容，为考生搭建一个系统的应试思维框架，加深考生对公务员考试相关热点内容的理解和运用，带领考生实现理论与现实的无缝对接，提高公务员考试实战能力。&nbsp;</span></span></span>
        </p>
        <p><span style="color: rgb(255, 0, 0);"><span style="font-size: 16px;">图书目录（部分）</span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">第一部分　文件解读1</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">一、习近平总书记在建党九十五周年大会上的讲话节选及解读1</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">二、十八届五中全会公报解读16</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">三、《中共中央关于制定国民经济和社会发展第十三个五年规划的建议》重点内容解读25</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">四、中央经济工作会议公报(节选)解读35</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">五、2016年政府工作报告十大关键词、十大关键数字43</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">第二部分　热点理论与常见表述51</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">一、重要理论精选51</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">二、重要词汇解析63</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">三、常见表述85</span></span></span></p>
        <p><span style="color: rgb(0, 0, 0);"><span style="font-family: arial,helvetica,sans-serif;"><span
                style="font-size: 14px;">四、常见的几个效应94</span></span></span></p>-->
        <!-- </dd> -->
        <dt class="courseInfoList"><span>图书介绍</span></dt>
        <dd>
            <!--<strong>每期28天，98课时，送980元预测班与每周热点班，63天答疑，只收12人，365天回播。</strong>-->
            <p style="font: 14px/26px Arial, 宋体, sans-serif; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; widows: 1; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                <span style="font-size: 16px;"><span style="color: rgb(255, 0, 0);">注意事项</span></span></p>
            <p style="font: 14px/26px Arial, 宋体, sans-serif; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; widows: 1; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                <span style="font-family: arial, helvetica, sans-serif;"><span style="color: rgb(0, 0, 0);"><span
                        style="font-size: 14px;">（1）图书购买后三个工作日内发货，统一发圆通速递！运单号短信通知，亦可在订单详情中查看<br>（2）请务必填写有效收货信息，因个人失误导致派送失败退回重新邮寄需学员自己承担邮寄费用<br>（3）发货之后退书须扣除邮寄费用（费用情况请具体咨询）</span></span></span>
            </p>
        </dd>

        <!--<dt class="courseInfoList"><span>适用人群</span></dt>-->
        <!--<dd>
        </dd>-->

    </dl>
    <!--
    <a class="btnSty01"  href="./reg/login.php?rid=54462">
    立即购买
    </a>-->
</div>
<footer class="footer"></footer>

</body>
</html>