<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>图书详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://apitk.huatu.com/h5/css/css.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="courseDetail">
    <!--
    班次类型：　特色课程<br />课程状态：　已经上线<br />课　　时：　0课时
    <br />有效期限：　365天<br />教　　师：　<br />购买此课程赠送<span class="htred">6积分</span>！
      -->
    <dl class="courseInfoList">
        <!--<dt><span>课程内容</span></dt>-->
        <!--<dd><span class="htred">本期班次已报满，同学们可以参加国考面试专岗专训7天高分通关班 http://v.huatu.com/cla/class_detail_45428.htm</span>-->
        <!--<p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p><p><strong><span
            style="color:#FF0000;"><span style="font-size:16px;">图书简介</span></span></strong></p>
        <p><span style="font-size:14px;">《12天突破行测80分》，对于公务员行政职业能力测试中的各个模块考点，每个模块分为知识点精讲，例题详解，练习题三个部分，知识点精讲部分全面涵盖国考考点，例题详解部分，对答题过程进行有步骤的说明，帮助考生形成系统的解题思路，练习题部分，用来强化做题思路，整个书稿设计，符合学习基本思路，是广大考生的公考小助手。</span>
        </p>
        <p><strong><span style="font-size:18px;"><span style="color:#FF0000;"><span
                style="font-family:arial,helvetica,sans-serif;">图书目录（部分）</span></span></span></strong></p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"><span
                style="line-height: 1.6;">第一部分　常识判断</span></span></span></p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">第一章　政治常识4</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span
                style="font-size:14px;">考点一　马克思主义哲学4</span></span></p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">考点二　中共党史7</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">第二章　法律常识13</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">考点一　宪法13</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">考点二　民法16</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">考点三　刑法20</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">考点四　行政法23</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">第三章　经济常识31</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">第四章　文史常识34</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">考点一　百家争鸣34</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">考点二　文学巨著37</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">第五章　地理科技43</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">考点一　地理常识43</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">考点二　科技常识47</span></span>
        </p>
        <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">常识判断答案51</span></span>
        </p>-->
        <!-- </dd> -->
        <dt class="courseInfoList"><span>图书介绍</span></dt>
        <dd>
            <!--<strong>每期28天，98课时，送980元预测班与每周热点班，63天答疑，只收12人，365天回播。</strong>-->
            <p><span style="color:#FF0000;"><span style="font-family:arial,helvetica,sans-serif;"><span
                    style="font-size:16px;">注意事项</span></span></span></p>
            <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">（1）图书购买后三个工作日内发货，统一发圆通速递！运单号短信通知，亦可在订单详情中查看<br>（2）请务必填写有效收货信息，因个人失误导致派送失败退回重新邮寄需学员自己承担邮寄费用<br>（3）发货之后退书须扣除邮寄费用（费用情况请具体咨询）</span></span>
            </p>
        </dd>
    </dl>
    <!--
    <a class="btnSty01"  href="./reg/login.php?rid=54497">
    立即购买
    </a>-->
</div>
<footer class="footer"></footer>

</body>
</html>