<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>图书详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://apitk.huatu.com/h5/css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="courseDetail">
    <!--
    班次类型：　通用课程<br />课程状态：　已经上线<br />课　　时：　5课时
    <br />有效期限：　365天<br />教　　师：　曾舟<br />购买此课程赠送<span class="htred">2积分</span>！
      -->
    <dl class="courseInfoList">
        <!--<dt><span>课程内容</span></dt>-->
        <!--<dd><span class="htred">本期班次已报满，同学们可以参加国考面试专岗专训7天高分通关班 http://v.huatu.com/cla/class_detail_45428.htm</span>-->
        <!---->
        <!-- </dd> -->
        <dt class="courseInfoList"><span>图书介绍</span></dt>
        <dd>
            <p><strong>2017</strong><strong>年3月26-27</strong><strong>日</strong><br></p>
            <p><strong>晚19:30-21:30</strong><br></p>
            <p><br></p>
            <p><strong>课程介绍</strong></p>
            <p>重点疏理言语必考考点、难点。<br></p>
            <p>多年经验总结学员复习误区。<br></p>
            <p>针对性的解决言语难以突破的问题！<br></p>
            <p><strong></strong><br></p>
            <p><strong>教师介绍</strong><br></p>
            <p>主讲中央国家机关及地方省市公务员行政职业能力测验言语理解与表达模块课程。
                善于充分利用多媒体和生活中的素材创设恰当的学习情境，依据学生认知规律设计课堂。注重基础知识与技能的训练，教学扎实，实用性强善导勤诱，从学生实际出发，巧妙点拨学生的“悱”、“愤”之处。教育理念新，教学方法新，能将抽象的、枯燥的知识生活化，具体化。能使课堂真正达到“课伊始，趣已生；课继续，情更浓；课已完，意未尽”的效果。</p>
            <p><br></p>
        </dd>

        <!--<dt class="courseInfoList"><span>适用人群</span></dt>-->
        <!--<dd>
        </dd>-->

    </dl>
    <!--
    <a class="btnSty01"  href="./reg/login.php?rid=55969">
    立即购买
    </a>-->
</div>
<footer class="footer"></footer>

</body>
</html>