<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>图书详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://apitk.huatu.com/h5/css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--<div class="headerBt"><a href="javascript:history.go(-1);" class="navBack" title="回上一页">&lt;</a>课程详情</div>-->
<!--<div class="courseInfo">-->
<!--<div class="imgBox"><img src="http://upload.htexam.net/classimg/class/1484731182.jpg" alt="课程名" /></div>-->
<!--<div class="m1em">-->
<!--<h1>新版公考经典必做1000题五本套装（包邮）--只含纸质图书不含视频</h1>-->
<!--<div class="price"><strong>&yen;163</strong><del>&yen;233</del></div>-->
<!--
<a class="btnSty01"  href="./reg/login.php?rid=55971">
立即购买
</a>-->
<!--</div>-->
<!--</div>-->

<div class="courseDetail">
    <!--
    班次类型：　特色课程<br />课程状态：　已经上线<br />课　　时：　0课时
    <br />有效期限：　365天<br />教　　师：　华图名师<br />购买此课程赠送<span class="htred">16积分</span>！
      -->
    <dl class="courseInfoList">
        <!--<dt><span>课程内容</span></dt>-->
        <!--<dd><span class="htred">本期班次已报满，同学们可以参加国考面试专岗专训7天高分通关班 http://v.huatu.com/cla/class_detail_45428.htm</span>-->
        <!---->
        <!-- </dd> -->
        <dt class="courseInfoList"><span>图书介绍</span></dt>
        <dd>
            <!--<strong>每期28天，98课时，送980元预测班与每周热点班，63天答疑，只收12人，365天回播。</strong>-->
            <p><span style="font-size:18px;"><span style="color: rgb(0, 0, 205);"><strong>温馨提示：活动图书~购买后<span
                    style="background-color:#FFFF00;">不退不换</span>~请小伙伴们三思后购买哟~</strong></span></span></p>
            <p><span style="font-size:20px;"><span style="color: rgb(0, 0, 205);"><strong><span
                    style="background-color:#FFFF00;"></span></strong></span></span>48小时内发货，请仔细填写您的姓名、电话、地址，不要影响发货</p>
            <p><span style="font-size:14px;"><strong>图书介绍：</strong></span></p>
            <p><span style="font-size:14px;"><strong><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E-->公考行测必做一千题全新改版升级啦！</strong></span>
            </p>
            <p><span style="font-size:14px;">量大——老版五个模块加起来一千题，新版每个模块都有一千题哦！喂饱你的学习欲！</span></p>
            <div><span style="font-size:14px;">质优——每个题目都是优中选优，经典中的经典，解析详尽明晰，助你快速掌握解题思路。</span></div>
            <div><br></div>
            <p><img alt="" data-cke-saved-src="http://upload.htexam.net/userimg/1484202313.jpg"
                    src="http://upload.htexam.net/userimg/1484202313.jpg" style="width: 640px;"><img alt=""
                                                                                                     data-cke-saved-src="http://upload.htexam.net/userimg/1484202384.jpg"
                                                                                                     src="http://upload.htexam.net/userimg/1484202384.jpg"
                                                                                                     style="width: 640px;">
            </p></dd>

        <!--<dt class="courseInfoList"><span>适用人群</span></dt>-->
        <!--<dd>
        </dd>-->

    </dl>
    <!--
    <a class="btnSty01"  href="./reg/login.php?rid=55971">
    立即购买
    </a>-->
</div>

<footer class="footer"></footer>

</body>
</html>