<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>课程详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://apitk.huatu.com/h5/css/css.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="courseDetail">
    <!--
    班次类型：　特色课程<br />课程状态：　已经上线<br />课　　时：　0课时
    <br />有效期限：　365天<br />教　　师：　华图名师<br />购买此课程赠送<span class="htred">16积分</span>！
      -->
    <dl class="courseInfoList">
        <!--<dt><span>课程内容</span></dt>-->
        <!--<dd><span class="htred">本期班次已报满，同学们可以参加国考面试专岗专训7天高分通关班 http://v.huatu.com/cla/class_detail_45428.htm</span>-->
        <!---->
        <!-- </dd> -->
        <dt class="courseInfoList"><span>课程介绍</span></dt>
        <dd>
            <p><span style="font-size:14px;"><strong>图书介绍：</strong></span></p>
            <p>新版金榜必做真题&nbsp; 2012-2016年&nbsp;&nbsp; 行测+申论（套题）</p>
            <p>以下为目录</p>
            <p><img alt="" data-cke-saved-src="http://upload.htexam.net/userimg/1487227565.png"
                    src="http://upload.htexam.net/userimg/1487227565.png" style="width: 640px;"><img alt=""
                                                                                                     data-cke-saved-src="http://upload.htexam.net/userimg/1487295714.jpg"
                                                                                                     src="http://upload.htexam.net/userimg/1487295714.jpg"
                                                                                                     style="width: 640px;"><img
                    alt="" data-cke-saved-src="http://upload.htexam.net/userimg/1487295733.jpg"
                    src="http://upload.htexam.net/userimg/1487295733.jpg" style="width: 640px;"><img alt=""
                                                                                                     data-cke-saved-src="http://upload.htexam.net/userimg/1487295749.jpg"
                                                                                                     src="http://upload.htexam.net/userimg/1487295749.jpg"
                                                                                                     style="width: 640px;">
            </p>
            <p><br></p>
            <p><br></p>
            <p><br></p></dd>

        <!--<dt class="courseInfoList"><span>适用人群</span></dt>-->
        <!--<dd>
        </dd>-->
    </dl>
    <!--
    <a class="btnSty01"  href="./reg/login.php?rid=56449">
    立即购买
    </a>-->
</div>

<footer class="footer"></footer>

</body>
</html>