<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>课程详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://apitk.huatu.com/h5/css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--<div class="headerBt"><a href="javascript:history.go(-1);" class="navBack" title="回上一页">&lt;</a>课程详情</div>-->
<!--<div class="courseInfo">-->
<!--<div class="imgBox"><img src="http://upload.htexam.net/classimg/class/1491032481.jpg" alt="课程名" /></div>-->
<!--<div class="m1em">-->
<!--<h1>加强削弱的强弱比较终极破解</h1>-->
<!--<div class="price"><strong>&yen;1</strong><del>&yen;9</del></div>-->
<!--
<a class="btnSty01"  href="./reg/login.php?rid=57461">
立即购买
</a>-->
<!--</div>-->
<!--</div>-->

<div class="courseDetail">
    <!--
    班次类型：　通用课程<br />课程状态：　已经上线<br />课　　时：　1课时
    <br />有效期限：　365天<br />教　　师：　郝曜华<br />购买此课程赠送<span class="htred">2积分</span>！
      -->
    <dl class="courseInfoList">
        <!--<dt><span>课程内容</span></dt>-->
        <!--<dd><span class="htred">本期班次已报满，同学们可以参加国考面试专岗专训7天高分通关班 http://v.huatu.com/cla/class_detail_45428.htm</span>-->
        <!---->
        <!-- </dd> -->
        <dt class="courseInfoList"><span>课程介绍</span></dt>
        <dd>
            <!--<strong>每期28天，98课时，送980元预测班与每周热点班，63天答疑，只收12人，365天回播。</strong>-->
            <p><strong>直播时间</strong><br></p>
            <p><strong>2017</strong><strong>年4月</strong><strong>9</strong><strong>日</strong><br></p>
            <p><strong>上午10:30-11:30</strong><br></p>
            <p><br></p>
            <p><strong>课程介绍</strong></p>
            <p>郝老师省考来助攻啦！</p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E-->
                <!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E-->加强削弱的强弱比较终极破解！<br></p>
            <p>准备省考的小伙伴们！</p>
            <p>Come on！</p>
            <p><br></p>
            <p><strong>教师介绍</strong></p>
            <p>
                毕业于中国政法大学逻辑学专业，主攻中央国家公务员及地方省市公务员行政能力测验判断推理模块，授课风格轻松活泼，让学员在轻松愉悦的氛围中高效学习，善于调动学员学习的积极性和主动性，授课思路清晰，深入浅出，讲解透彻，方法简单明晰，有良好的职业道德，是一名深受学员喜爱的公考培训老师。</p>
            <p><br></p>

        <!--<dt class="courseInfoList"><span>适用人群</span></dt>-->
        <!--<dd>
        </dd>-->


        <dt class="courseInfoList"><span>包含课程</span></dt>
        <dd>
            <table class="tableStyle">
                <tbody>
                <tr>
                    <th>课程名称</th>
                    <th>科目</th>
                    <th>授课老师</th>
                    <th>课时</th>

                </tr>
                <tr>
                    <td>
                        <a title="加强削弱的强弱比较终极破解" href="">
                            加强削弱的强弱比较终极破解</a>
                    </td>
                    <td>判断推理</td>
                    <td>郝曜华</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </dd>
    </dl>
    <!--
    <a class="btnSty01"  href="./reg/login.php?rid=57461">
    立即购买
    </a>-->
</div>

<footer class="footer"></footer>

</body>
</html>