<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>课程详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://apitk.huatu.com/h5/css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--<div class="headerBt"><a href="javascript:history.go(-1);" class="navBack" title="回上一页">&lt;</a>课程详情</div>-->
<!--<div class="courseInfo">-->
<!--<div class="imgBox"><img src="http://upload.htexam.net/classimg/class/1492158691.jpg" alt="课程名" /></div>-->
<!--<div class="m1em">-->
<!--<h1>一个故事一种论证选项</h1>-->
<!--<div class="price"><strong>&yen;1</strong><del>&yen;9</del></div>-->
<!--
<a class="btnSty01"  href="./reg/login.php?rid=57713">
立即购买
</a>-->
<!--</div>-->
<!--</div>-->

<div class="courseDetail">
    <!--
    班次类型：　通用课程<br />课程状态：　已经上线<br />课　　时：　1课时
    <br />有效期限：　365天<br />教　　师：　章坤<br />购买此课程赠送<span class="htred">2积分</span>！
      -->
    <dl class="courseInfoList">
        <!--<dt><span>课程内容</span></dt>-->
        <!--<dd><span class="htred">本期班次已报满，同学们可以参加国考面试专岗专训7天高分通关班 http://v.huatu.com/cla/class_detail_45428.htm</span>-->
        <!---->
        <!-- </dd> -->
        <dt class="courseInfoList"><span>课程介绍</span></dt>
        <dd>
            <!--<strong>每期28天，98课时，送980元预测班与每周热点班，63天答疑，只收12人，365天回播。</strong>-->
            <p><strong>直播时间</strong><br></p>
            <p><strong>2017</strong><strong>年4</strong><strong>月17</strong><strong>日</strong><br></p>
            <p><strong>晚20:00-21:00</strong></p>
            <p><br></p>
            <p><strong>课程介绍</strong></p>
            <p>章老师省考来助攻啦！<br></p>
            <p>一个故事一种论证选项~<br></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E--></p>
            <p>准备省考的小伙伴们！</p>
            <p>又到了圈粉的时间啦~</p>
            <p>Come on！</p>
            <p><br></p>
            <p><strong>教师介绍</strong></p>
            <p>
                华图教育培训师，山东大学硕士，主攻中央国家机关及地方省市公务员行政职业能力测验判断推理模块的研究。对历年各公职类考试有深入研究，全面科学的把握判断推理的出题特点，教学教研体系清晰完整、方法实用，善于依据学员不同特点因材施教。国内顶尖级Powerpoint动画设计师，作品在pptstore等顶级原创平台网站上展示及销售，结合公考的教学课件设计精妙，动画精彩引人入胜，能使学生在掌握知识的同时获得极大的视觉享受。</p>
            <p><br></p>
        <!--<dt class="courseInfoList"><span>适用人群</span></dt>-->
        <!--<dd>
        </dd>-->


        <dt class="courseInfoList"><span>包含课程</span></dt>
        <dd>
            <table class="tableStyle">
                <tbody>
                <tr>
                    <th>课程名称</th>
                    <th>科目</th>
                    <th>授课老师</th>
                    <th>课时</th>

                </tr>
                <tr>
                    <td>
                        <a title="一个故事一种论证选项" href="">
                            一个故事一种论证选项</a>
                    </td>
                    <td>判断推理</td>
                    <td>章坤</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </dd>
    </dl>
    <!--
    <a class="btnSty01"  href="./reg/login.php?rid=57713">
    立即购买
    </a>-->
</div>

<footer class="footer"></footer>

</body>
</html>