<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>课程详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://apitk.huatu.com/h5/css/css.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="courseDetail">
    <!--
    班次类型：　直播系列<br />课程状态：　已经上线<br />课　　时：　1课时
    <br />有效期限：　365天<br />教　　师：　刘有珍<br />购买此课程赠送<span class="htred">2积分</span>！
      -->
    <dl class="courseInfoList">
        <!--<dt><span>课程内容</span></dt>-->
        <!--<dd><span class="htred">本期班次已报满，同学们可以参加国考面试专岗专训7天高分通关班 http://v.huatu.com/cla/class_detail_45428.htm</span>-->
        <!---->
        <!-- </dd> -->
        <dt class="courseInfoList"><span>课程介绍</span></dt>
        <dd>
            <p><strong>直播时间</strong></p>
            <p><strong>2017</strong><strong>年4</strong><strong>月24</strong><strong>日</strong></p>
            <p><strong>晚21:30-22:30</strong></p>
            <p><br></p>
            <p><strong>课程介绍</strong></p>
            <p>呼声很高的珍姨让我召唤来啦！</p>
            <p>省考结束啦！小伙伴们国考走起！</p>
            <p>带你学17联考数量关系给我们的启示！</p>
            <p>等什么呢！约起来~</p>
            <div style="text-align: left; line-height: 19.5pt; background: white" align="left"><br></div>
            <div style="text-align: left; line-height: 19.5pt; background: white" align="left"><span
                    style="font-size:14px;"><b>教师介绍</b></span></div>
            <div style="text-align: left; line-height: 19.5pt; background: white" align="left">
                华图教育研究员，公务员实战专家，行测科目业内名师，在公考领域有其独树一帜的授课风格。先后参与编写《华图名师成”功”系列教材》《2012国考行政职业能力测验教材》《2012军转干行政职业能力测验教材》《微魔块系列之数量资料36计》等一系列业内经典教材。
                在讲台上，刘老师总是激情四射，总能将复杂的数学题目讲的娓娓动听，其幽默风趣的个性特点使得课堂上总是充满了欢声笑语。
                刘老师坚信优秀的老师一定要了解学生、灵活运用教学方法；一定要学会倾听，倾听自己的课堂。在课堂上，学会了真正倾听学员的心声，从学员们真正的学习需要出发，组织教学。
            </div>
            <div style="text-align: left; line-height: 19.5pt; background: white" align="left"><br></div>
        </dd>

        <!--<dt class="courseInfoList"><span>适用人群</span></dt>-->
        <!--<dd>
        </dd>-->


        <dt class="courseInfoList"><span>包含课程</span></dt>
        <dd>
            <table class="tableStyle">
                <tbody>
                <tr>
                    <th>课程名称</th>
                    <th>科目</th>
                    <th>授课老师</th>
                    <th>课时</th>


                </tr>
                <tr>
                    <td>
                        <a title="直播峰会之珍姨带你学17联考数量关系给我们的启示（录播）" href="">
                            直播峰会之珍姨带你学17联考数量关系给我们的启示（录播）</a>
                    </td>
                    <td>数量关系</td>
                    <td>刘有珍</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </dd>
    </dl>
    <!--
    <a class="btnSty01"  href="./reg/login.php?rid=57835">
    立即购买
    </a>-->
</div>
<footer class="footer"></footer>

</body>
</html>