<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <title>课程详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="https://apitk.huatu.com/h5/css/css.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="courseDetail">
    <!--
    班次类型：　通用课程<br />课程状态：　已经上线<br />课　　时：　1课时
    <br />有效期限：　365天<br />教　　师：　濮延博<br />购买此课程赠送<span class="htred">2积分</span>！
      -->
    <dl class="courseInfoList">
        <dt class="courseInfoList"><span>课程介绍</span></dt>
        <dd>
            <!--<strong>每期28天，98课时，送980元预测班与每周热点班，63天答疑，只收12人，365天回播。</strong>-->
            <p><strong>直播时间</strong></p>
            <p><strong>2017</strong><strong>年4</strong><strong>月24</strong><strong>日</strong><br></p>
            <p><strong>晚20:00-21:00</strong><strong>。</strong>&nbsp;&nbsp;<br></p>
            <p><br></p>
            <p><strong>课程介绍</strong></p>
            <p>濮延博老师来啦~</p>
            <p>省考言语备考的小伙伴们看过来！</p>
            <p><!--{cke_protected}{C}%3C!%2D%2DStartFragment%20%2D%2D%3E-->带你从联考言语真题探究言语考试本质！<br></p>
            <p>不容错过！</p>
            <p><br></p>
            <p><strong>教师介绍</strong></p>
            <p>
                主讲国家及地方省市公务员行测言语理解与表达及面试课程。对言语模块有深厚的知识储备及丰富的教学经验，全面了解考试政策及命题设置，注重对命题人出题思路及公考思维的全面讲解，不唯技巧论。高屋建瓴授课深入浅出，条理清楚，风格亲切自然，情绪饱满，课堂气氛活跃，深受学员的好评及喜爱，让学员在轻松融洽的环境中受教。著作：《2014江苏省考考前一周密押卷》
                《江苏省行政能力测试题库》</p>
            <p><br></p>
        </dd>


        <dt class="courseInfoList"><span>包含课程</span></dt>
        <dd>
            <table class="tableStyle">
                <tbody>
                <tr>
                    <th>课程名称</th>
                    <th>科目</th>
                    <th>授课老师</th>
                    <th>课时</th>

                </tr>
                <tr>
                    <td>
                        <a title="直播峰会之濮老师带你从联考言语真题探究言语考试本质（录播）" href="">
                            直播峰会之濮老师带你从联考言语真题探究言语考试本质（录播）</a>
                    </td>
                    <td>言语理解与表达</td>
                    <td>濮延博</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </dd>
    </dl>
    <!--
    <a class="btnSty01"  href="./reg/login.php?rid=57834">
    立即购买
    </a>-->
</div>
<footer class="footer"></footer>

</body>
</html>